/* Cancel out styles on tablet and smaller screens */
@media (min-width: 1024px) {
  .markdownx {
    display: flex !important;
    flex-direction: row !important;
    gap: 1rem !important;
  }
  
  .markdownx-editor,
  .markdownx-preview {
    width: 32rem !important;
  }
}